<nb-card>
  <nb-card-body >
    <div class="row">
      <div class="col-md-6">
        <nb-card>
          <nb-card-header style="display: flex;font-size: 1.5rem;justify-content: space-between;">
            <span>
              实时视频
             ( 摄像头({{_.stream}}))
            </span>
          </nb-card-header>
          <nb-card-body>
            <div class="row">
              <div class="col-md-12">
                <a download [href]="vjs_address" disabled *ngIf="vjs_address;else nofile;" (click)="(false)">
                  右键另存为
                </a> 
                <div  class="vido" *ngIf="vjs_address;else elseBlock;">
                  <app-vjs-player [options]="{ width: '604',height: 'auto',autoplay: false, controls: true, sources: [{ src: vjs_address, type: 'application/x-mpegURL' }]}"></app-vjs-player>
                </div>
              </div>
            </div>
          </nb-card-body>
        </nb-card>
      </div>
      <div class="col-md-6">
        <nb-card>
          <nb-card-header >
            实验信息
          </nb-card-header>
          <nb-card-body>
            <div class="r">
              <div>项目名称</div>
              <div>{{_.name}}</div>
              <div>项目编号</div>
              <div>{{_.no}}</div>
              <div>试验室</div>
              <div>{{_.laboratory}}</div>
              <div>试验人员</div>
              <div>{{_.taskpeople}}</div>
              <div>试验设备</div>
              <div>{{_.taskequip}}</div>
              <div>侦测区域</div>
              <div>{{_.detection}}</div>
              <div>开始时间</div>
              <div>{{_.starttime}}</div>
              <div>结束时间</div>
              <div>{{_.endtime}}</div>
            </div>
          </nb-card-body>
        </nb-card>
      </div>
      <div class="col-md-12">
        <nb-card>
          <nb-card-header>
            异常历史
          </nb-card-header>
          <nb-card-body>
            <ng2-smart-table style="width: 100%;" [settings]="setting" [source]="source">
            </ng2-smart-table>
          </nb-card-body>
        </nb-card>
      </div>
    </div>
  </nb-card-body>
</nb-card>


<ng-template #elseBlock>
  <div class="notfond">
    <div style="text-align: center;" *ngIf="video_status;else elseNoClick">
      <p>视频地址： 未获取到视频地址或文件已存坏</p>
      <button nbButton hero status="warning" (click)="get_hls_address()">
        重新获取视频地址
      </button>
    </div>
  </div>
</ng-template>

<ng-template #elseNoClick>
  <div class="notfond">
    <div style="text-align: center;">
      <p>请点击下方表格播放</p>
    </div>
  </div>
</ng-template>

<ng-template #nofile>
  <div>未获取到视频地址或文件已存坏</div>
</ng-template>