<nb-card>
  <nb-card-body>
    <div class="row">
      <div class="col-md-12 col-lg-12">
        <div class="col-md-12">
          <nb-card>
            <nb-card-header style="font-size: 1.5375rem;">
              任务信息
              <button nbButton hero status="success" (click)="back()" style="float: right;">
              返回工作台
              </button>
            </nb-card-header>
            <nb-card-body>
              <div class="row_dis">
                <div><span class="red">*</span>任务单编号(LWT)</div>
                <div>
                  <input style="width: 80%;" nbInput type="text" [status]="number_status?'':'danger'" [(ngModel)]="test_info.number" (keyup)="keyup_number()"/>
                </div>
                <div><span class="red">*</span>试验人员</div>
                <div>
                  <input style="width: 80%;" nbInput type="text" [(ngModel)]="test_info.peopel">
                </div>
                <div><span class="red">*</span>任务名称(project_name)</div>
                <div>
                  <!-- 下划线字母数字 -->
                  <input style="width: 80%;" nbInput type="text" [(ngModel)]="test_info.project_name" (keyup)="keyup($event,test_info.project_name)">
                </div>
                <div><span class="red">*</span>样件编号</div>
                <div>
                  <input style="width: 80%;" nbInput type="text" [(ngModel)]="test_info.equipment">
                </div>
                <div><span class="red">*</span>试验室</div>
                <div>
                  <nb-select  style="width: 80%;" [(ngModel)]="test_info.laboratory">
                    <nb-option value="实验室1">
                      实验室1
                    </nb-option>
                    <nb-option value="实验室2">
                      实验室2
                    </nb-option>
                  </nb-select>
                </div>
                <div><span class="red">*</span>摄像头</div>
                <div>
                  <nb-select style="width: 80%;" [selected]="test_info.webcam" (selectedChange)="changeWebcam($event)">
                    <nb-option *ngFor="let item of webcamList" [value]="item">
                      {{item}}
                    </nb-option>
                  </nb-select>
                </div>
                <div><span class="red">*</span>检查方式</div>
                <div>
                  <nb-select style="width: 80%;" [(ngModel)]="test_info.check_model" >
                    <nb-option value="BaseCheck">
                      默认
                    </nb-option>
                    <nb-option value="image_check">
                      图像
                    </nb-option>
                    <nb-option value = "encoder_check">
                      encoder
                    </nb-option>
                  </nb-select>
                </div>
                <div></div>
                <div></div>
              </div>
            </nb-card-body>
          </nb-card>
        </div>
        <div class="col-md-12">
          <nb-card>
            <nb-card-header style="font-size: 1.5375rem;">侦测区域定义</nb-card-header>
            <nb-card-body>
              <!-- <div *ngIf="vjs_address; else elseBlock" class="row_vido">
                <app-vjs-player [options]="{ width: '800',height: 'auto',autoplay: false, controls: true, sources: [{ src: vjs_address, type: 'application/x-mpegURL' }]}"></app-vjs-player>
                <canvas id="canvas" width="800" height="420" style="border: 1px solid white;"></canvas>
              </div> -->
              <div *ngIf="true; else elseBlock" class="row_vido">
                <app-vjs-player [options]="{ width: '800',height: 'auto',autoplay: false, controls: true, sources: [{ src: vjs_address, type: 'application/x-mpegURL' }]}"></app-vjs-player>
                <canvas id="canvas" width="800" height="420" style="border: 1px solid rgb(253, 15, 15);"></canvas>
              </div>

              <div class="row" style="width: 100%;">
                <button nbButton hero status="success" (click)="add_fang()">新增canvas</button>
                <ng2-smart-table style="width: 100%;" [settings]="setting" [source]="source" ></ng2-smart-table>
              </div>
            </nb-card-body>
          </nb-card>
        </div>
        <div class="col-md-12" style="text-align: center;">
          <button nbButton hero status = "success" (click)="save()">完成</button>
        </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>
<ng-template #elseBlock>
  <div class="notfond">
    <div>
      <p>视频地址： 未获取到视频地址</p>
      <button nbButton hero status="warning" (click)="get_hls_address()">
        重新获取视频地址
      </button>
    </div>
  </div>
</ng-template>