<nb-card>
  <nb-card-body>
    <div class="row">
      <div class="col-md-12 col-lg-12">
        <div class="col-md-12">
          <nb-card>
            <nb-card-header style="font-size: 1.9375rem;padding: 1rem 0rem;">试验信息</nb-card-header>
            <nb-card-body>
              <div class="row_dis">
                <div>项目编号</div>
                <div>
                  <input style="width: 80%;" nbInput type="text" [(ngModel)]="test_info.number"/>
                </div>
                <div>试验人员</div>
                <div>
                  <input style="width: 80%;" nbInput type="text" [(ngModel)]="test_info.peopel">
                </div>
                <div>项目名称</div>
                <div>
                  <input style="width: 80%;" nbInput type="text" [(ngModel)]="test_info.name">
                </div>
                <div>试验设备</div>
                <div>
                  <input style="width: 80%;" nbInput type="text" [(ngModel)]="test_info.equipment">
                </div>
                <div>试验室</div>
                <div>
                  <nb-select  style="width: 80%;" [(ngModel)]="test_info.laboratory">
                    <nb-option value="实验室1">
                      实验室1
                    </nb-option>
                    <nb-option value="实验室2">
                      实验室2
                    </nb-option>
                  </nb-select>
                </div>
                <div>摄像头</div>
                <div>
                  <nb-select style="width: 80%;" [(ngModel)]="test_info.webcam">
                    <nb-option value="摄像头1">
                      摄像头1
                    </nb-option>
                    <nb-option value="摄像头2">
                      摄像头2
                    </nb-option>
                  </nb-select>
                </div>
              </div>
            </nb-card-body>
          </nb-card>
        </div>
        <div class="col-md-12">
          <nb-card>
            <nb-card-header style="font-size: 1.9375rem;padding: 1rem 0rem;">侦测区域定义</nb-card-header>
            <nb-card-body>
              <div *ngIf="vjs_address; else elseBlock" class="row_vido">
                <app-vjs-player [options]="{ width: '720',height: 'auto',autoplay: false, controls: true, sources: [{ src: vjs_address, type: 'application/x-mpegURL' }]}"></app-vjs-player>
              </div>
              <div class="row">
                <div class="row_table">
                  <div class="tabel_line_2"  *ngFor="let item of headerlist" [ngStyle]="{width:(item.key == 'description'?'60%':'')}">{{item.name}}</div>
                  <div class="row_table" *ngFor="let item of bodylist">
                    <div class="tabel_line_2" >
                      <input style="width: 80%;" nbInput type="text" [(ngModel)]="item.no">
                    </div>
                    <div class="tabel_line_2" >
                      <input style="width: 80%;" nbInput type="text" [(ngModel)]="item.address">
                    </div>
                    <div class="tabel_line_2" style="width: 60%;" >
                      <input style="width: 80%;" nbInput type="text" [(ngModel)]="item.description">
                    </div>
                  </div>
                </div>
              </div>
            </nb-card-body>
          </nb-card>
        </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>
<ng-template #elseBlock>
  <div class="notfond">
    <div>
      <p>视频地址： 未获取到视频地址</p>
      <button nbButton hero status="warning" (click)="get_hls_address()">
        重新获取视频地址
      </button>
    </div>
  </div>
</ng-template>