
<div class="row" style="min-width: 800px;height: 600px;background: cornflowerblue;">
    
    <div class="col-md-8">
        
    </div>
    <div class="col-md-4"  style="text-align: right;padding: 10px 12px 0px 0px;">
        <nb-icon icon="close-outline" style="cursor: pointer;" (click)="closedialog()"></nb-icon>
    </div>
    
    <nb-card style="width: 100%;height: 100%;">

        <nb-card-body>
            <div class="row" style="margin-top: 2%;">
                <div class="col-md-12">
                    <video id="video" controls width="100%" [src]="ip_port"></video>
                </div>
            </div>
            <div class="row" style="margin-top: 2%;">
                <div class="col-md-12">
                    <button nbButton fullWidth outline status="success" size="small" (click)="shut()">关闭</button>
                </div>
            </div>

        </nb-card-body>
    </nb-card>
</div>