<nb-card>
  <nb-card-header>{{ title }}</nb-card-header>
  <nb-card-body>
    <div *ngIf="vjs_address;else elseBlock" class="vido">
      <app-vjs-player [options]="{ width: getwidth(),height: getheight(),autoplay: false, controls: true, sources: [{ src: vjs_address, type: 'application/x-mpegURL' }]}"></app-vjs-player>
    </div>
    <div>
      <input nbInput type="text" placeholder="备注内容" [(ngModel)]="body.remarks">
    </div>
  </nb-card-body>
  <nb-card-footer>
    <button nbButton hero status="success" (click)="save()">保存</button>
    <button nbButton hero status="primary" (click)="dismiss()">关闭</button>
  </nb-card-footer>
</nb-card>


<ng-template #elseBlock>
  <div class="notfond">
    <div>
      <p>视频地址： 未获取到视频地址</p>
      <button nbButton hero status="warning" (click)="get_hls_address()">
        重新获取视频地址
      </button>
    </div>
  </div>
</ng-template>