<nb-card style="width: 48rem;height: 33rem;">
  <nb-card-header>{{ _title }}</nb-card-header>
  <nb-card-body>
    <div *ngIf="vjs_address;else elseBlock" class="vido">
      <app-vjs-player [options]="{ width: getwidth(),height: getheight(),autoplay: false, controls: true, sources: [{ src: vjs_address, type: 'application/x-mpegURL' }]}"></app-vjs-player>
    </div>
    <div style="width: 100%;height: 10%;">
      <input nbInput type="text" placeholder="备注内容" disabled [(ngModel)]="body.remarks" style="width: 100%;max-width: 100%;">
    </div>
  </nb-card-body>
  <nb-card-footer style="display: flex;justify-content: space-around;">
    <button nbButton hero status="success" (click)="save()" title="该功能暂时未开发" disabled>保存备注并保存</button>
    <button nbButton hero status="primary" (click)="dismiss()">关闭</button>
  </nb-card-footer>
</nb-card>


<ng-template #elseBlock>
  <div class="notfond">
    <div style="text-align: center;">
      <p>视频地址： 未获取到视频地址,或视频已损坏</p>
      <button nbButton hero status="warning" (click)="get_hls_address()">
        重新获取视频
      </button>
    </div>
  </div>
</ng-template>