<!--
 * @Author: Zhang Hengye
 * @Date: 2021-03-10 12:57:54
 * @LastEditors: Zhang Hengye
 * @LastEditTime: 2021-04-02 14:49:03
-->
<h3>{{stream_name}}/{{project_name}}/{{crop_name}} 详情</h3>
<div class="row">
    <div class="col-lg-8">
        <div *ngIf="vjs_address; else elseBlock">
            <app-vjs-player [options]="{ width: '720',height: 'auto',autoplay: true, controls: true, sources: [{ src: vjs_address, type: 'application/x-mpegURL' }]}"></app-vjs-player>
        </div>
        <ng-template #elseBlock>
            <p>视频地址： 未获取到视频地址</p>
            <br>
            <button (click)="getHlsAddress()">
                    重新获取视频地址
                </button>
        </ng-template>
    </div>

    <div class="col-lg-4">
        <nb-card>
            <nb-card-header>
                {{stream_name}} Stream Info
            </nb-card-header>
            <nb-card-body>
                <ng2-smart-table [settings]="models_setting" [source]="models_source">
                </ng2-smart-table>
            </nb-card-body>
        </nb-card>
    </div>
</div>



<div class="row">
    <div class="col-lg-6">
        <a [href]="allVideoUri" target="_blank">stream视频存储目录(PS: 存储目录中文件名以utc时区命名) </a>
        <br>
        <label>历史异常时间(可自行选取):</label>
        <input [(ngModel)]="ab_his_selectedMoments" [selectMode]="'range'" [owlDateTimeTrigger]="ab_his_date_range" [owlDateTime]="ab_his_date_range" style="width: 60%; color: cornflowerblue" id="ab_his_daterange" matInput>
        <owl-date-time (afterPickerClosed)="closedAbHisSpy()" #ab_his_date_range></owl-date-time>
        <nb-card>
            <nb-card-header>
                异常历史
            </nb-card-header>
            <nb-card-body>
                <ng2-smart-table [settings]="ab_history_setting" [source]="ab_history_source" (custom)="onCustomActionHistory($event)">
                </ng2-smart-table>
            </nb-card-body>
        </nb-card>
    </div>
    <div class="col-lg-6">
        <br>
        <br>
        <div *ngIf="!(history_video_res.length===0);else no_his_vjs">
            <ng-container *ngFor="let item of history_video_res; trackBy:history_video_res.id">
                <ng-container *ngIf="item['uri'];else his_err">
                    <app-vjs-player #history_vjs id="history_vjs" [options]="{ width: '720',height: 'auto',autoplay: true, controls: true, sources: [{ src: item['uri'], type: 'video/mp4' }]}"></app-vjs-player>
                    <a [href]="item['uri']" download>右键另存为, 下载视频.<br>{{hisVideoDescribe}}</a>
                </ng-container>
                <ng-template #his_err>
                    <p>获取历史视频地址异常: {{item['fail']}}</p>
                    <br>
                </ng-template>
            </ng-container>
        </div>
        <ng-template #no_his_vjs>
            <ng-container *ngIf="isLoadingHisVideoRes;else no_select">
                <div class="loading" ng-show="busy"> <i class="fa fa-spin fa-spinner fa-lg"></i> loading ...
                </div>
            </ng-container>
            <ng-template #no_select>
                <p>未选取历史视频</p>
                <br>
            </ng-template>
        </ng-template>
        
        <label>视频展示时间(可自行选取):</label>
        <input [(ngModel)]="selectedMoments" [selectMode]="'range'" [owlDateTimeTrigger]="date_range_component" [owlDateTime]="date_range_component" style="width: 60%; color: cornflowerblue" id="daterange" matInput>
        <owl-date-time (afterPickerClosed)="closedSpy()" #date_range_component></owl-date-time>

    </div>


</div>


<ng-container *ngIf="isShowModelDetail;else showModel">
    <button (click)="changeShowModelDetail()">隐藏 模型详情</button>
</ng-container>
<ng-template #showModel>
    <button (click)="changeShowModelDetail()">显示 模型详情</button>
</ng-template>
<div class="row" *ngIf="isShowModelDetail">
    <div class="col-lg-8">
        <nb-card>
            <nb-card-header>
                模型详情
            </nb-card-header>
            <nb-card-body>
                <ng2-smart-table [settings]="model_list_setting" [source]="model_list_source" (custom)="onCustomAction($event)">
                </ng2-smart-table>
            </nb-card-body>
        </nb-card>
    </div>
    <div class="col-lg-4">
        <img [src]="img_url" width='100%'>
        <p>模型{{img_uuid}} 首次出现记录图</p>
    </div>
</div>