<!--
 * @Author: Zhang Hengye
 * @Date: 2021-03-04 10:04:08
 * @LastEditors: Zhang Hengye
 * @LastEditTime: 2021-03-10 11:47:23
-->

<h3>{{stream_name}} 详情</h3>
<div class="row">
    <div class="col-lg-8">
        <div *ngIf="vjs_address; else elseBlock" class="col-md">
            <app-vjs-player [options]="{ width: '720',height: 'auto',autoplay: true, controls: true, sources: [{ src: vjs_address, type: 'application/x-mpegURL' }]}"></app-vjs-player>
        </div>
        <ng-template #elseBlock>
            <p>视频地址： 未获取到视频地址</p>
            <br>
            <button (click)="get_hls_address()">
                    重新获取视频地址
                </button>
        </ng-template>
    </div>

    <div class="col-lg-4">
        <nb-card>
            <nb-card-header>
                {{stream_name}} Stream Info
            </nb-card-header>
            <nb-card-body>
                <ng2-smart-table [settings]="setting" [source]="source">
                </ng2-smart-table>
            </nb-card-body>
        </nb-card>
    </div>
</div>

<div class="row">
    <div class="col-lg">
        <nb-card>
            <nb-card-header>
                项目列表
            </nb-card-header>
            <nb-card-body>
                <ng2-smart-table [settings]="project_setting" [source]="project_source">
                </ng2-smart-table>
            </nb-card-body>
        </nb-card>
    </div>
</div>