<nb-card>
  <nb-card-body >
    <div class="row">
      <div class="col-md-6">
        <nb-card>
          <nb-card-header style="display: flex;font-size: 1.5rem;justify-content: space-between;">
            <span>
              实时视频
             ( 摄像头({{_.stream}}))
            </span>
            <span style="display: flex;">
              状态
              <span class="cl" [ngStyle]="{background:_.status == 'running'?'green':'yellow'}"></span>
            </span>
          </nb-card-header>
          <nb-card-body>
            <div class="row">
              <div class="col-md-12">
                <div *ngIf="vjs_address;else elseBlock" class="vido">
                  <!-- <video style="width: 562px;" controls>
                    <source [src]="vjs_address" type="video/mp4">
                  </video> -->
                  <app-vjs-player *ngIf="vjs_address" [options]="{ width: 'auto',height: '280',autoplay: false, controls: true, sources: [{ src: vjs_address, type: 'application/x-mpegURLs' }]}"></app-vjs-player>
                </div>
              </div>
              <div class="col-md-12 bt_row">
                <div class="bottom" (click)="startProc()">启动侦测
                  <i class="fa fa-play" title="play" ></i>
                </div>
                <div class="bottom" (click)="stopProc('暂停')">暂停侦测
                  <i class="ion-ios-pause"  ></i>
                </div>
                <div class="bottom" (click)="stopProc('停止')">停止侦测
                  <i class="fa fa-stop" title="stop" ></i>
                </div>
              </div>
            </div>
          </nb-card-body>
        </nb-card>
      </div>
      <div class="col-md-6">
        <nb-card>
          <nb-card-header style="display: flex;font-size: 1.5rem;justify-content: space-between;">
            实验信息
            <button nbButton hero status="success" (click)="go_back()">返回工作台</button>
          </nb-card-header>
          <nb-card-body>
            <div class="r">
              <div>项目名称</div>
              <div>{{_.name}}</div>
              <div>项目编号</div>
              <div>{{_.no}}</div>
              <div>试验室</div>
              <div>{{_.laboratory}}</div>
              <div>试验人员</div>
              <div>{{_.taskpeople}}</div>
              <div>试验设备</div>
              <div>{{_.taskequip}}</div>
              <div>侦测区域</div>
              <div>{{_.detection}}</div>
              <div>开始时间</div>
              <div>{{_.starttime}}</div>
              <div>结束时间</div>
              <div>{{_.endtime}}</div>
            </div>
          </nb-card-body>
        </nb-card>
      </div>
      <div class="col-md-12" >
        <nb-card>
          <nb-card-header style="display: flex;justify-content: space-between;align-items: center;">
            异常历史
            <a [href]="videoSaveUri" target="_blank">stream视频存储目录(PS: 存储目录中文件名以utc时区命名) </a>
            <div style="width: 51%;display: flex;justify-content: space-around;">
              <div>
                <label>视频展示时间(可自行选取):  </label>
                <input [(ngModel)]="selectedMoments" [selectMode]="'range'" [owlDateTimeTrigger]="date_range_component" [owlDateTime]="date_range_component" style="width: 20rem; color: cornflowerblue;height: 100%;margin-right: 0.5rem;" id="daterange" matInput>
                <owl-date-time (afterPickerClosed)="closedSpy()" #date_range_component></owl-date-time>
                <button nbButton hero status = "success" (click)="openVideo();">回溯视频</button>
              </div>
              <button nbButton hero status = "success" (click)="getHis();">刷新历史</button>
            </div>
          </nb-card-header>
          <nb-card-body>
            <ng2-smart-table style="width: 100%;" [settings]="setting" [source]="source">
            </ng2-smart-table>
          </nb-card-body>
        </nb-card>
      </div>
    </div>
  </nb-card-body>
</nb-card>


<ng-template #elseBlock>
  <div class="notfond">
    <div>
      <p>视频地址： 未获取到视频地址</p>
      <button nbButton hero status="warning" (click)="get_hls_address()">
        重新获取视频地址
      </button>
    </div>
  </div>
</ng-template>